node_modules/*
out-tsc/*
dist/*
coverage/*

.settings/*
.project
.externalToolBuilders

# package-lock.json is meant to be in git but in this phase of dev.
# it is excluded because latest versions of every dependency
# is always required
package-lock.json

